.hero {
   background-image: url(../../assets/Background_Intro.png);
  background-size: cover;        /* cobre toda a área */
  background-position: center;   /* centraliza */
  background-repeat: no-repeat;  /* não repete */

  height: 100vh; /* ocupa a tela inteira */ }

 .hero {
  display: flex;
  flex-direction: column;
  align-items: center; /* mantém centralizado horizontal */
  
  padding-top: 120px; /* empurra pra cima como no Figma */

 }
 .avatar img:nth-child(1) {
     margin-bottom: 54px;
     border: 2px solid #E3646E;
     border-radius: 50%;
  
 }


.hero span {
  color: #E3646E; /* vermelho do projeto */
}
.hero p:nth-child(4){
    font: var(--title-sem);
    padding-top: 20px;
}

.avatar {
  position: relative;
  display: inline-block;
}

.avatar img:nth-child(1) {
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-10%);
  width: 20px;
  height: 20px;
}
.arrow {
  position: absolute;
  bottom: -6px;
  right: -6px;
  width: 24px;
}
.arrow {
  position: absolute;
  bottom: 0;   /* cola embaixo */
  right: 0;    /* cola na direita */

  width: 20px; /* ajusta tamanho */
}
.arrow {
  bottom: -5px;
  right: -5px;
}

.blocos ul
{
  display: flex;
  gap: 100px; /* espaço entre todos */
  list-style: none;
  padding-top: 80px;
 

}

.blocos li:nth-child(1){
   font: var(--text-med);
  color: #C0C4CE;
  background-color: #292C34;

  padding: 12px 24px; /* controla o tamanho interno */
  
  border: 2px solid #3A3F4B; /* borda mais fina */
  border-radius: 999px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
    gap: 10px;

}

  .blocos li:nth-child(2){
   font: var(--text-med);
  color: #C0C4CE;
  background-color: #292C34;

  padding: 12px 24px; /* controla o tamanho interno */
  
  border: 2px solid #3A3F4B; /* borda mais fina */
  border-radius: 999px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

  .blocos li:nth-child(3){
   font: var(--text-med);
  color: #C0C4CE;
  background-color: #292C34;

  padding: 12px 24px; /* controla o tamanho interno */
  
  border: 2px solid #3A3F4B; /* borda mais fina */
  border-radius: 999px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

  .blocos li:nth-child(4){
   font: var(--text-med);
  color: #C0C4CE;
  background-color: #292C34;

  padding: 12px 24px; /* controla o tamanho interno */
  
  border: 2px solid #3A3F4B; /* borda mais fina */
  border-radius: 999px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

  .blocos li:nth-child(5) {
   font: var(--text-med);
  color: #C0C4CE;
  background-color: #292C34;

  padding: 12px 24px; /* controla o tamanho interno */
  
  border: 2px solid #3A3F4B; /* borda mais fina */
  border-radius: 999px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

  .blocos li:nth-child(6){
   font: var(--text-med);
  color: #C0C4CE;
  background-color: #292C34;

  padding: 12px 24px; /* controla o tamanho interno */
  
  border: 2px solid #3A3F4B; /* borda mais fina */
  border-radius: 999px;


  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.blocos li img {
  width: 20px;
  height: 20px;
  filter: none;
}

.seta {
    padding: 112px;
}

.corpo {
  background-color: #16181D;
  padding: 220px 24px 80px;
}
.corpo p:nth-child(1) {
  text-align: center;
   position: relative;
  top: -170px; 
  font: var(--subtitle);
  color: #E3646E;
}
 
.corpo h2 {
  font: var(--title-md);
  color: #E2E4E9;
  text-align: center;
  position: relative;
  top: -150px; 
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 0 30px 0 30px;
}
.cards img{
  width: 100%; 
  height: auto; /* mantém proporção natural */ 
  object-fit: contain; /* evita corte */ 
  display: block; 
  border-radius: 8px;
}

.cards > div {
  transform: none;
}



 .cards h3{
  font: var( --text-sm);
  color: #E2E4E9;
  padding-top: 8px;
 }

 .cards p{
  font: var( --text-sem);
  color: #C0C4CE;
  padding-top: 8px;
 }

 .quase {
  background-color: #0D0E11;
  height: 480px;
  width: 100%;
 }

 .quase h4{
  font: var(--title-md);
  text-align: center;
 padding-top: -100px;
 color: #E2E4E9;
 gap: 8px;
 }

 .primeiro{
  font: var(--subtitle);
  text-align: center;
  padding-top: 88px;
  color: #E3646E;
 }

 .preto {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  text-align: left;
  margin-top: 56px;
  gap: 24px; 
 }

 .preto h5 {
   font: var(--text-sm);
  color: #E2E4E9;
  padding-top: 20px;
 }

 .preto p{
  font: var(--text-sem);
  color: #C0C4CE;
  padding-top: 5px;
 }

 .card {
  background-color: #0F1117; /* fundo escuro */
  border: 1px solid #1F2937; /* borda leve */
  border-radius: 12px;
  padding: 24px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  border-color: #EF5F4C; /* sua cor principal */
}




